/*
Theme Name: iKe
Description: iKe buisness site theme
Version: 1.0
Text Domain: ike_I18N

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Accessibility
3.0 Alignments
4.0 Clearings
5.0 Typography
6.0 Forms
7.0 Formatting
8.0 Lists
9.0 Tables
10.0 Links
11.0 Featured Image Hover
12.0 Navigation
13.0 Layout
   13.1 Header
   13.2 Front Page
   13.3 Regular Content
   13.4 Posts
   13.5 Pages
   13.6 Footer
14.0 Misc
16.0 Media
17.0 Customizer
18.0 SVGs Fallbacks
19.0 Media Queries
20.0 Print
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Normalize
Styles based on Normalize v5.0.0 @link https://github.com/necolas/normalize.css
--------------------------------------------------------------*/

html {
	font-family: serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
	outline-width: 0;
}

abbr[title] {
	border-bottom: 1px #767676 dotted;
	text-decoration: none;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: 700;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #eee;
	color: #222;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	border: 1px solid #bbb;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
2.0 Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
5.0 Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.66;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
  font-family: 'Droid Serif', serif;
  font-weight: 700;
	line-height: 1.4;
	margin: 0 0 0.75em;
	padding: 1.5em 0 0;
  word-wrap: normal;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	padding-top: 0;
}

h1 {
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 300;
}

h2,
.home.blog .entry-title {
  color: #35363a;
	font-size: 20px;
	font-size: 1.25rem;
}

h3 {
	color: #333;
	font-size: 18px;
	font-size: 1.125rem;
  font-family: 'Source Sans Pro', sans-serif;
}

h4 {
	color: #333;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 800;
}

h5 {
	color: #767676;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 800;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

h6 {
	color: #333;
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: 800;
}

p {
  font-size: 18px;
  font-size: 1.125rem;
	margin: 0 0 1.5em;
	padding: 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	color: #666;
	font-size: 18px;
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.7;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

blockquote cite {
	display: block;
	font-style: normal;
	font-weight: 600;
	margin-top: 0.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #eee;
	text-decoration: none;
}

big {
	font-size: 125%;
}

blockquote {
	quotes: "" "";
}

q {
	quotes: "“" "”" "‘" "’";
}

blockquote:before,
blockquote:after {
	content: "";
}

:focus {
	outline: none;
}

/*--------------------------------------------------------------
6.0 Forms
--------------------------------------------------------------*/

label {
	color: #333;
	display: block;
	font-weight: 800;
	margin-bottom: 0.5em;
}

fieldset {
	margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	background: #fff;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: block;
	padding: 0.7em;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #222;
	border-color: #333;
}

select {
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 3em;
	max-width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.5em;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	font-weight: 400;
}

button,
input[type="button"],
input[type="submit"] {
	background-color: #222;
	border: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	line-height: 1;
	padding: 1em 2em;
	text-shadow: none;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
}

input + button,
input + input[type="button"],
input + input[type="submit"] {
	padding: 0.75em 2em;
}

button.secondary,
input[type="reset"],
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
	background-color: #ddd;
	color: #222;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #767676;
}

button.secondary:hover,
button.secondary:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"].secondary:hover,
input[type="button"].secondary:focus,
input[type="reset"].secondary:hover,
input[type="reset"].secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:focus {
	background: #bbb;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #333;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

:-moz-placeholder {
	color: #333;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

::-moz-placeholder {
	color: #333;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #333;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/

hr {
	background-color: #bbb;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
8.0 Lists
--------------------------------------------------------------*/

ul,
ol {
	margin: 0 0 1.5em;
	padding: 0;
  list-style-position: inside;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/*--------------------------------------------------------------
9.0 Tables
--------------------------------------------------------------*/

table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

thead th {
	border-bottom: 2px solid #bbb;
	padding-bottom: 0.5em;
}

th {
	padding: 0.4em;
	text-align: left;
}

tr {
	border-bottom: 1px solid #eee;
}

td {
	padding: 0.4em;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

/*--------------------------------------------------------------
10.0 Links
--------------------------------------------------------------*/

a {
	color: #222;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	color: #000;
	outline: 0;
}

/* Hover effects */

.entry-content a,
.entry-summary a,
.posts-navigation a {
	-webkit-box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
	box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
	-webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
}

.entry-title a,
.entry-meta a,
.page-links a,
.page-links a .page-number,
.entry-footer a,
.entry-footer .cat-links a,
.entry-footer .tags-links a,
.edit-link a,
.post-navigation a,
.logged-in-as a,
a .nav-title,
.pagination a,
.site-info a {
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 1);
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 1);
	text-decoration: none;
	-webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
}

.entry-content a:focus,
.entry-content a:hover,
.entry-summary a:focus,
.entry-summary a:hover,
.posts-navigation a:focus,
.posts-navigation a:hover,
.entry-title a:focus,
.entry-title a:hover,
.entry-meta a:focus,
.entry-meta a:hover,
.page-links a:focus .page-number,
.page-links a:hover .page-number,
.entry-footer a:focus,
.entry-footer a:hover,
.entry-footer .cat-links a:focus,
.entry-footer .cat-links a:hover,
.entry-footer .tags-links a:focus,
.entry-footer .tags-links a:hover,
.post-navigation a:focus,
.post-navigation a:hover,
.pagination a:not(.prev):not(.next):focus,
.pagination a:not(.prev):not(.next):hover,
.logged-in-as a:focus,
.logged-in-as a:hover,
a:focus .nav-title,
a:hover .nav-title,
.edit-link a:focus,
.edit-link a:hover,
.site-info a:focus,
.site-info a:hover {
	color: #000;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
}

/* Fixes linked images */
.entry-content a img {
	-webkit-box-shadow: 0 0 0 8px #fff;
	box-shadow: 0 0 0 8px #fff;
}

.post-navigation a:focus .icon,
.post-navigation a:hover .icon {
	color: #222;
}

/*--------------------------------------------------------------
11.0 Featured Image Hover
--------------------------------------------------------------*/

.post-thumbnail {
	margin-bottom: 1em;
}

.post-thumbnail a img {
	-webkit-backface-visibility: hidden;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.post-thumbnail a:hover img,
.post-thumbnail a:focus img {
	opacity: 0.7;
}

/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/

.navigation-top {
	font-size: 16px;
	font-size: 1rem;
	position: relative;
  z-index: 5;
}

.navigation-top .wrap {
	max-width: 1000px;
	padding: 0;
}

.navigation-top a {
	color: #fff;
	font-weight: 600;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.navigation-top .current-menu-item > a,
.navigation-top .current_page_item > a {
	color: #c61621;
}

.main-navigation {
	clear: both;
	display: table;
  table-layout: fixed;
  width: 100%;
  position: absolute;
  z-index: 1;
  transform: translateY(-100%);
  transition: transform 200ms ease-in-out, margin 200ms ease-in-out;
  margin-top: 49px;
}

.main-navigation ul {
	background: #1D1D1F;
  color: #fff;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

.main-navigation .nav-langswitch {
  background: #f4f4f5;
  background: #C61621;
}

.main-navigation .nav-langswitch a {
  font-weight: normal;
}

.main-navigation .nav-langswitch a:hover,
.main-navigation .nav-langswitch a:focus {
  background: #fff;
}

.menu-menu-principal-container {
  display: table-header-group;
}

/* Hide the menu on small screens when JavaScript is available.
 * It only works with JavaScript.
 */

 .js .main-navigation > ul {
  visibility: hidden;
}

.js .main-navigation .sub-menu,
.main-navigation .menu-item-has-children > a > .icon,
.main-navigation .page_item_has_children > a > .icon,
.main-navigation ul a > .icon {
	display: none;
}

.js .main-navigation.toggled-on {
  transform: translateY(0);
  margin-top: 0;
}

.js .main-navigation.toggled-on > div > ul {
	visibility: visible;
}

.main-navigation ul ul {
	padding: 0;
}

.js .main-navigation ul ul.toggled-on {
	display: block;
}

.main-navigation ul ul a {
	letter-spacing: 0;
	padding: 0.4em 1em 0.4em 2em;
	position: relative;
	text-transform: none;
}

.main-navigation li {
	border-bottom: 1px dotted #35363a;
	position: relative;
}


.main-navigation .menu > li:nth-child(3) {
  display: none;
}

.main-navigation li:last-child {
	border: 0;
}

.main-navigation a {
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #c61621;
}

/* Menu toggle */

.menu-toggle {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
	border: 0;
  border-radius: 0 0 3px 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	display: none;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	line-height: 1.5;
	margin: 0 auto;
	padding: 1em;
	text-shadow: none;
}

/* Display the menu toggle when JavaScript is available. */

.js .menu-toggle {
	display: block;
}

.main-navigation.toggled-on ul.nav-menu {
	display: block;
}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.menu-toggle:focus {
	outline: thin dotted;
}

.toggled-on .menu-toggle {
	border: 1px solid #fff;
  border-top: none;
}

.menu-toggle .icon {
	margin-right: 0.5em;
	top: -2px;
}

.toggled-on .menu-toggle .icon-bars,
.menu-toggle .icon-close {
	display: none;
}

.toggled-on .menu-toggle .icon-close {
	display: inline-block;
}

/* Dropdown Toggle */

.dropdown-toggle {
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	display: block;
	font-size: 16px;
	right: 1em;
	line-height: 1.5;
	margin: 0 auto;
	padding: 0.5em;
	position: absolute;
	text-shadow: none;
	top: 0;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background: transparent;
  color: #C61621;
}

.dropdown-toggle:focus {
	outline: thin dotted;
}

.dropdown-toggle.toggled-on .icon {
	-ms-transform: rotate(-180deg); /* IE 9 */
	-webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
	transform: rotate(-180deg);
}

/* Scroll down arrow */

.site-header .menu-scroll-down {
	display: none;
}

/*--------------------------------------------------------------
13.0 Layout
--------------------------------------------------------------*/

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #fff;
}

#page {
	position: relative;
	word-wrap: break-word;
}

.wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	padding-left: 2em;
	padding-right: 2em;
}

.wrap:after {
	clear: both;
	content: "";
	display: block;
}

/*--------------------------------------------------------------
13.1 Header
--------------------------------------------------------------*/

#masthead .wrap {
	position: relative;
}

.site-header {
	background-color: #fafafa;
	position: relative;
}

/* Site branding */

.site-branding {
	padding: 1em 0;
	position: relative;
	-webkit-transition: margin-bottom 0.2s;
	transition: margin-bottom 0.2s;
	z-index: 3;
}

.site-branding a {
	text-decoration: none;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.site-branding a:hover,
.site-branding a:focus {
	opacity: 0.7;
}

.site-logo {
  display: block;
  margin: 0 auto;
  width: 210px;
  height: 210px;
}

.site-title {
	clear: none;
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 800;
	line-height: 1.25;
	letter-spacing: 0.08em;
	margin: 0 auto;
	padding: 0;
	text-transform: uppercase;
}

.site-title,
.site-title a {
	color: #222;
	opacity: 1; /* Prevent opacity from changing during selective refreshes in the customize preview */
}

body.has-header-image .site-title,
body.has-header-image .site-title a {
	color: #fff;
}

.custom-logo-link a:hover,
.custom-logo-link a:focus {
	opacity: 0.9;
}

.custom-header {
  background: url('./assets/images/header.jpg') no-repeat center top transparent;
	position: relative;
  padding: 80px 0 104px;
  padding: 5rem 0 6.5rem;
}

@media (min-width: 47.75em) {
  .custom-header {
    padding: 112px 0 120px;
    padding: 7rem 0 7.5rem;
  }

  .site-logo {
    height: 300px;
    width: 300px;
  }
}

/*--------------------------------------------------------------
13.2 Front Page
--------------------------------------------------------------*/

.twentyseventeen-front-page .site-content {
	padding: 0;
}

.twentyseventeen-panel {
	overflow: hidden;
	position: relative;
}

.panel-image {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

.panel-image:before {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.3+100 */ /* FF3.6-15 */
	background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
	background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#4d000000", GradientType=0); /* IE6-9 */
	bottom: 0;
	content: "";
	left: 0;
	right: 0;
	position: absolute;
	top: 100px;
}

.twentyseventeen-front-page article:not(.has-post-thumbnail):not(:first-child) {
	border-top: 1px solid #ddd;
}

.panel-content {
	position: relative;
}

.panel-content .wrap {
	padding-bottom: 0.5em;
	padding-top: 1.75em;
}

/* Panel edit link */

.twentyseventeen-panel .edit-link {
	display: block;
	margin: 0.3em 0 0;
}

.twentyseventeen-panel .entry-header .edit-link {
	font-size: 14px;
	font-size: 0.875rem;
}

/* Front Page - Recent Posts */

.twentyseventeen-front-page .panel-content .recent-posts article {
	border: 0;
	color: #333;
	margin-bottom: 3em;
}

.recent-posts .entry-header {
	margin-bottom: 1.2em;
}

.page .panel-content .recent-posts .entry-title {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 0;
	text-transform: none;
}

.twentyseventeen-panel .recent-posts .entry-header .edit-link {
	color: #222;
	display: inline-block;
	font-size: 11px;
	font-size: 0.6875rem;
	margin-left: 1em;
}

/*--------------------------------------------------------------
13.3 Regular Content
--------------------------------------------------------------*/
.home-section-title {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.5em;
}

#identity {
  box-sizing: border-box;
  margin: 1em auto 0;
  max-width: 910px;
  padding: 4em 2em 7em;
  position: relative;
}

#identity h2 {
  padding: 0 2.5em;
  font-size: 32px;
  font-size: 2rem;
  text-align: center;
}

#values {
  background: #35363A;
  color: #fff;
  padding: 3em;
  text-align: center;
  position: relative;
}

.values-list {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  max-width: 1500px;
}

.value-item {
  box-sizing: border-box;
  margin: 0 0 6em;
  padding: 0;
}

.value-title {
  color: #fff;
  font-size: 27px;
  font-size: 1.6875rem;
  font-weight: 400;
  margin: 0 0 1em;
  padding: 0;
}

.value-item img {
  max-height: 70px;
  width: auto;
}

.showcase-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.showcase-list:after {
  content: "";
  display: table;
  clear: both;
}

.showcase-list li {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 1em;
  max-width: 250px;
}

#references {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1700px;
  padding: 3em;
  text-align: center;
  position: relative;
}

.references-content {
	background-color: #f4f4f5;
	padding: 1.5em;
  font-size: 18px;
  font-size: 1.125rem;
}

#references .showcase-list li {
  display: block;
  float: left;
  max-width: none;
  margin: 0 auto;
  padding: 1em;
  width: 50%;
}

#references .showcase-list li:nth-child(2n+1) {
  clear: left;
}

#mission {
  background: url('./assets/images/header.jpg') no-repeat center center transparent;
  color: #fff;
  padding: 3em 3em 5em;
  text-align: center;
  position: relative;
}

.mission-content {
  font-size: 24px;
  font-size: 1.5rem;
  max-width: 1320px;
  margin: 0 auto;
}

#skills {
  box-sizing: border-box;
  padding: 3em;
  text-align: center;
  position: relative;
}

.skills-content {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 2em;
}

.skills-list {
  list-style-type: none;
  margin: 0 0 2em;
  padding: 0;
}

.skills-item {
  margin: 4em 0;
  padding: 0;
}

.skills-item img {
  max-width: 175px;
}

.skills-title {
  padding: 0;
  margin: 1em 0 0.5em;
}

.skills-description ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#technologies,
#solutions {
  background: url('./assets/images/shadow-line.png') no-repeat center top transparent;
  background-size: 100%;
  margin: 0 0 4em;
  padding-top: 4em;
}

#technologies h3,
#solutions h3 {
  font-family: 'Droid Serif', serif;
  font-size: 44px;
  font-size: 2.75rem;
  font-weight: bold;
  margin: 0;
}

#ike-unplugged {
  background: #1D1D1F;
  padding: 3em 3em 6em;
  color: #fff;
  text-align: center;
  position: relative;
}

.no-js #ike-unplugged { display: none; }

#jobs {
  padding: 3em;
  text-align: center;
}

.jobs-content {
  max-width: 900px;
  margin: 0 auto;
}

.jobs-list {
  list-style-type: none;
  margin: 0 0 2em;
  padding: 0;
  text-align: left;
}

.jobs-item a {
  background: #E9E9EB;
  border-bottom: 1px solid #cecfd3;
  color: #35363a;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  padding: 1em;
  transition: background-color 0.2s,padding 0.2s;
}

.jobs-item a:hover,
.jobs-item a:focus {
  background-color: #fff;
  padding: 1em 0.5em 1em 1.5em;
}

.jobs-title,
.jobs-date {
  display: inline;
  line-height: 1;
  padding: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
}

.jobs-date {
  font-weight: 400;
}

.more-jobs {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	font-size: 1.875rem;
	color: #35363a;
	text-decoration: none;
	font-weight: 600;
	text-align: center;
	border-bottom: 1px solid #cecfd3;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.more-jobs:focus,
.more-jobs:hover {
  color: #c61621;
}

.no-jobs {
  display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-align: center;
	color: #35363a;
	font-size: 24px;
	font-size: 1.5rem;
	margin: 2em 0;
}

.menu-scroll-down.menu-scroll-down---button {
	background-color: #fff;
	border: 5px solid #35363a;
  border-radius: 0;
	color: #35363a;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 600;
	padding: 0.5em 1em;
  position: static;
  transform: none;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	outline: none;
	-moz-transition: background-color 0.2s,color 0.2s;
	-o-transition: background-color 0.2s,color 0.2s;
	-webkit-transition: background-color 0.2s,color 0.2s;
	transition: background-color 0.2s,color 0.2s;
}

.menu-scroll-down.menu-scroll-down---button:hover,
.menu-scroll-down.menu-scroll-down---button:focus {
  background-color: #35363a;
  color: #fff;
}

#contact {
  background: #c61621;
  color: #fff;
  padding: 3em;
}

#contact h3,
#contact h4,
#contact a { color: #fff; }

#contact .home-section-title {
  text-align: center;
}

#contact .field {
  display: block;
  margin: 0 0 1em;
}

#contact select {
  display: block;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
	color: #35363a;
	background-color: #fff;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	padding: 0.85em 1em;
	display: block;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#contact textarea {
  resize: vertical;
}

#contact input::placeholder,
#contact textarea::placeholder {
  color: #A393A5;
}

#contact .row--submit {
  text-align: center;
}

#contact .home-contact-form {
	background-color: #c61621;
	border: 5px solid #fff;
  border-radius: 0;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 600;
	padding: 0.5em 1em;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	outline: none;
	-moz-transition: background-color 0.2s,color 0.2s;
	-o-transition: background-color 0.2s,color 0.2s;
	-webkit-transition: background-color 0.2s,color 0.2s;
	transition: background-color 0.2s,color 0.2s;
  margin: 0 auto;
}

#contact .home-contact-form:hover,
#contact .home-contact-form:focus {
	background-color: #fff;
	color: #c61621;
}

.contact-content .scroll.map-link {
  display: block;
}

#attachment-field .wpcf7-form-control-wrap {
  position: static;
}

div.wpcf7-mail-sent-ok,
div.wpcf7-mail-sent-ng,
div.wpcf7-validation-errors,
div.wpcf7-spam-blocked,
span.wpcf7-not-valid-tip {
	color: #fff;
	background: #8A0F17;
	margin: 0.5em 0 1em;
	padding: 1em;
  border: none;
}

div.wpcf7-validation-errors {
  border-left: 5px solid #f7e700;
}

div.wpcf7-mail-sent-ok {
  border-left: 5px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border-left: 5px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border-left: 5px solid #ffa500;
}

span.wpcf7-not-valid-tip {
	border-left: 5px solid #f00;
}

div.wpcf7 .ajax-loader {
  background-image: url('./assets/images/ajax-loader.gif');
}

#visitus {
  margin-top: 2em;
}

#visitus ul {
  list-style-position: inside;
}

.team-members {
  margin-top: 32px;
  margin-top: 3.2rem;
  margin-left: -1.5em;
  margin-right: -1.5em;
  padding-top: 32px;
  padding-top: 3.2rem;
  border-top: 5px solid #f6b2b6;
}

.team-member {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 2em;
}

.team-member-name {
  margin-bottom: 0;
}

.team-member-pic {
  display: table-cell;
  vertical-align: top;
  width: 87px;
}

.team-member-profile {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
  padding-left: 1rem;
}

.team-member-role,
.team-member-phone {
  display: block;
}

.team-member-linkedin {
  background: #000;
  border-radius: 100%;
  display: inline-block;
  padding: 5px;
  padding: 0.3125rem;
  line-height: 0;
}

.team-member-linkedin .icon {
  height: 0.75em;
  width: 0.75em;
}

#map {
  position: relative;
  height: 500px;
}

.js .map-cover.active,
.no-js .map-cover {
  display: none;
}

.js .map-cover {
	display: block;
	width: 100%;
	height: 500px;
	position: absolute;
	z-index: 666;
	background-color: rgba(100,100,100,0.2);
	-moz-transition: opacity 0.2s,visibility 0s;
	-o-transition: opacity 0.2s,visibility 0s;
	-webkit-transition: opacity 0.2s,visibility 0s;
	transition: opacity 0.2s,visibility 0s;
}

.map-cover::after {
	content: "Cliquez pour naviguer";
	position: absolute;
	bottom: 70px;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	font-size: 32px;
	font-size: 2rem;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-shadow: 0 4px 5px #35363a;
}

html[lang="en-GB"] .map-cover::after {
  content: "Click to navigate";
}

#map iframe {
  width: 100%;
  height: 500px;
}

@media (min-width: 33.75em) {
  .values-list {
    overflow: hidden;
  }

  .value-item {
    padding: 0 1em;
    margin-bottom: 4em;
    float: left;
    width: 50%;
  }

  .value-item:nth-child(2n+1) {
    clear: left;
  }

  #references .showcase-list li {
    width: 33.3333%;
  }

  #references .showcase-list li:nth-child(2n+1) {
    clear: none;
  }

  #references .showcase-list li:nth-child(3n+1) {
    clear: left;
  }
}

@media (min-width: 48em) {
  .home-section-title {
  	font-size: 50px;
  	font-size: 3.125rem;
  	margin-bottom: 1em;
  }

  #references .showcase-list li {
    width: 25%;
  }

  #references .showcase-list li:nth-child(3n+1) {
    clear: none;
  }

  #references .showcase-list li:nth-child(4n+1) {
    clear: left;
  }

  #mission {
    padding: 5em 3em 8em;
  }

  .skills-list {
    overflow: hidden;
  }

  .skills-item {
    box-sizing: border-box;
    float: left;
    margin: 2em 0;
    padding: 1em;
    width: 33.3333%;
  }

  #technologies,
  #solutions {
    background-size: auto;
  }

  #contact .row {
    clear: both;
  }

  #contact .row--first .field,
  #contact .row--second .field:first-child,
  #contact .row--second .field + .field {
    box-sizing: border-box;
    float: left;
    padding-right: 1em;
    width: 33.33%;
  }

  #contact .row--second .field + .field {
    float: left;
    width: 66.66%;
  }

  .team-members {
    display: table;
    margin-left: 0;
    margin-right: 0;
    table-layout: fixed;
    width: 100%;
  }

  .team-member {
    display: table-cell;
    width: 25%;
    vertical-align: top;
  }

  .team-member-pic {
    display: block;
    margin: 0 auto;
  }

  .team-member-profile {
    display: block;
    text-align: center;
  }
}

@media (min-width: 80em) {

.value-item {
  padding: 0 2em;
  width: 33.3333%;
}

.value-item:nth-child(2n+1) {
  clear: none;
}

.value-item:nth-child(3n+1) {
  clear: left;
}

  #references .showcase-list li {
    width: 20%;
  }

  #references .showcase-list li:nth-child(4n+1) {
    clear: none;
  }

  #references .showcase-list li:nth-child(5n+1) {
    clear: left;
  }

  .menu-scroll-down---button {
  	font-size: 30px;
  	font-size: 1.875rem;
  }

  #contact .wrapper {
    margin: 0 auto;
    max-width: 1520px;
  }

  #contact .wrapper:after {
    content: "";
    clear: both;
    display: table;
  }

  #contact .contact-content,
  #contact .contact-form {
    box-sizing: border-box;
    float: left;
    padding: 0 1em;
    width: 40%;
  }

  #contact .contact-form {
    width: 60%;
  }

  #contact .contact-content {
    padding-right: 12em;
  }
}

@media (min-width: 90em) {
  #references .showcase-list li {
    width: 16.66%;
  }

  #references .showcase-list li:nth-child(5n+1) {
    clear: none;
  }

  #references .showcase-list li:nth-child(6n+1) {
    clear: left;
  }
}

.showcase-list figure {
  margin: 0;
}

.showcase-list img {
  display: block;
  margin: 0 auto;
	-webkit-filter: saturate(0);
	filter: saturate(0);
	transition: filter 0.2s;
}

.showcase-list img:hover {
	-webkit-filter: saturate(1);
	filter: saturate(1);
}

.showcase-list figcaption {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.site-content-contain {
	background-color: #fff;
	position: relative;
}

.site-content {
	padding: 2.5em 0 0;
}

/*--------------------------------------------------------------
13.4 Posts
--------------------------------------------------------------*/

/* Post Landing Page */

.sticky {
	position: relative;
}

.post:not(.sticky) .icon-thumb-tack {
	display: none;
}

.sticky .icon-thumb-tack {
	display: block;
	height: 18px;
	left: -1.5em;
	position: absolute;
	top: 1.65em;
	width: 20px;
}
.page-header .page-title,
.entry-header .entry-title {
	margin-bottom: 0.25em;
}

.entry-title a {
	color: #333;
	text-decoration: none;
	margin-left: -2px;
}

.entry-title:not(:first-child) {
	padding-top: 0;
}

.entry-meta {
	color: #767676;
	font-size: 11px;
	font-size: 0.6875rem;
	font-weight: 800;
	letter-spacing: 0.1818em;
	padding-bottom: 0.25em;
	text-transform: uppercase;
}

.entry-meta a {
	color: #767676;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.pagination {
	border-top: 1px solid #eee;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	padding: 2em 0 3em;
	text-align: center;
}

.pagination .icon {
	width: 0.666666666em;
	height: 0.666666666em;
}


.page-numbers {
	display: none;
	padding: 0.5em 0.75em;
}

.page-numbers.current {
	color: #767676;
	display: inline-block;
}

.page-numbers.current .screen-reader-text {
	clip: auto;
	height: auto;
	overflow: auto;
	position: relative !important;
	width: auto;
}

.prev.page-numbers,
.next.page-numbers {
	background-color: #ddd;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1;
	padding: 0.25em 0.5em 0.4em;
}

.prev.page-numbers,
.next.page-numbers {
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.prev.page-numbers:focus,
.prev.page-numbers:hover,
.next.page-numbers:focus,
.next.page-numbers:hover {
	background-color: #767676;
	color: #fff;
}

.prev.page-numbers {
	float: left;
}

.next.page-numbers {
	float: right;
}

/* Aligned blockquotes */

.entry-content blockquote.alignleft,
.entry-content blockquote.alignright {
	color: #666;
	font-size: 13px;
	font-size: 0.8125rem;
	width: 48%;
}

/* Blog landing, search, archives */

.blog .site-main > article,
.archive .site-main > article,
.search .site-main > article {
	padding-bottom: 2em;
}

body:not(.twentyseventeen-front-page) .entry-header {
	padding: 1em 0;
}

body:not(.twentyseventeen-front-page) .entry-header,
body:not(.twentyseventeen-front-page) .entry-content {
	margin-left: auto;
	margin-right: auto;
}

body:not(.twentyseventeen-front-page) .entry-header {
	padding-top: 0;
}

.blog .entry-meta a.post-edit-link,
.archive .entry-meta a.post-edit-link,
.search .entry-meta a.post-edit-link {
	color: #222;
	display: inline-block;
	margin-left: 1em;
	white-space: nowrap;
}

.search .page .entry-meta a.post-edit-link {
	margin-left: 0;
	white-space: nowrap;
}

.taxonomy-description {
	color: #666;
	font-size: 13px;
	font-size: 0.8125rem;
}

/* More tag */

.entry-content .more-link:before {
	content: "";
	display: block;
	margin-top: 1.5em;
}

/* Single Post */

.single-post:not(.has-sidebar) #primary,
.page.page-one-column:not(.twentyseventeen-front-page) #primary,
.archive.page-one-column:not(.has-sidebar) .page-header,
.archive.page-one-column:not(.has-sidebar) #primary {
	margin-left: auto;
	margin-right: auto;
	max-width: 740px;
}

.single-featured-image-header {
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
}

.single-featured-image-header img {
	display: block;
	margin: auto;
}

.page-links {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	padding: 2em 0 3em;
}

.page-links .page-number {
	color: #767676;
	display: inline-block;
	padding: 0.5em 1em;
}

.page-links a {
	display: inline-block;
}

.page-links a .page-number {
	color: #222;
}

/* Entry footer */

.entry-footer {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	margin-top: 2em;
	padding: 2em 0;
}

.entry-footer .cat-links,
.entry-footer .tags-links {
	display: block;
	font-size: 11px;
	font-size: 0.6875rem;
	font-weight: 800;
	letter-spacing: 0.1818em;
	padding-left: 2.5em;
	position: relative;
	text-transform: uppercase;
}

.entry-footer .cat-links + .tags-links {
	margin-top: 1em;
}

.entry-footer .cat-links a,
.entry-footer .tags-links a {
	color: #333;
}

.entry-footer .cat-links .icon,
.entry-footer .tags-links .icon {
	color: #767676;
	left: 0;
	margin-right: 0.5em;
	position: absolute;
	top: 2px;
}

.entry-footer .edit-link {
	display: inline-block;
}

.entry-footer .edit-link a.post-edit-link {
	background-color: #222;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	margin-top: 2em;
	padding: 0.7em 2em;
	-webkit-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	white-space: nowrap;
}

.entry-footer .edit-link a.post-edit-link:hover,
.entry-footer .edit-link a.post-edit-link:focus {
	background-color: #767676;
}

/* Post Formats */

.blog .format-status .entry-title,
.archive .format-status .entry-title,
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.format-quote blockquote {
	color: #333;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	overflow: visible;
	position: relative;
}

.format-quote blockquote .icon {
	display: block;
	height: 20px;
	left: -1.25em;
	position: absolute;
	top: 0.4em;
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
	width: 20px;
}

/* Post Navigation */

.post-navigation {
	font-weight: 800;
	margin: 3em 0;
}

.post-navigation .nav-links {
	padding: 1em 0;
}

.nav-subtitle {
	background: transparent;
	color: #767676;
	display: block;
	font-size: 11px;
	font-size: 0.6875rem;
	letter-spacing: 0.1818em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.nav-title {
	color: #333;
	font-size: 15px;
	font-size: 0.9375rem;
}

.post-navigation .nav-next {
	margin-top: 1.5em;
}

.nav-links .nav-previous .nav-title .nav-title-icon-wrapper {
	margin-right: 0.5em;
}

.nav-links .nav-next .nav-title .nav-title-icon-wrapper {
	margin-left: 0.5em;
}

/*--------------------------------------------------------------
13.5 Pages
--------------------------------------------------------------*/

.page-header {
	padding-bottom: 2em;
}

.page .entry-header .edit-link {
	font-size: 14px;
	font-size: 0.875rem;
}

.search .page .entry-header .edit-link {
	font-size: 11px;
	font-size: 0.6875rem;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page:not(.home) #content {
	padding-bottom: 1.5em;
}

.contact-jobs {
  max-width: 1580px;
  margin: 0 auto;
}

.contact-jobs h2 {
  color: #fff;
  font-size: 50px;
  font-size: 3.125rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1em;
}

#contact .field--attachment {
  position: relative;
  overflow: hidden;
}

#contact .field--attachment br,
#contact .field--attachment p {
  display: none;
}

#contact .field--attachment input {
	opacity: 0;
	cursor: pointer;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#contact .field--attachment svg {
	position: absolute;
	display: block;
	width: 30px;
	height: auto;
	pointer-events: none;
	cursor: pointer;
  color: #fff;
  fill: #fff;
  top: 0.6em;
}

#contact #attachment-field svg + span {
	font-size: 16px;
	font-size: 1rem;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	padding: 0.8em 1em 0.6em 2.5em;
	display: block;
	cursor: pointer;
}

/* 404 page */

.error404 .page-content {
	padding-bottom: 4em;
}

/*--------------------------------------------------------------
13.6 Footer
--------------------------------------------------------------*/

.site-footer {
	background: #1d1d1f;
  color: #959595;
	padding: 3em 0;
  text-align: center;
  font-size: 0.9375em;
}

.site-footer .wrap {
	padding-bottom: 1.5em;
	padding-top: 2em;
  max-width: 1280px;
}

.site-footer .social-list {
  background: #1f2022;
  border-radius: 4em;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 1em 2em;
}

.site-footer .social-list li {
  display: block;
  float: left;
  line-height: 1;
  margin: 0 0.5em;
  max-height: 30px;
}

.site-footer .social-list a {
  color: #fff;
  display: block;
}

.site-footer .social-list a:hover,
.site-footer .social-list a:focus {
  color: #C61621;
}

.site-footer .social-list svg {
  fill: currentColor;
}

.site-info {
  margin: 2em 0;
}

.footer-address {
  font-style: normal;
}

.footer-address span {
  display: block;
  white-space: nowrap;
}

@media (min-width: 60em) {
  .footer-address span {
    display: inline;
  }
}

/*--------------------------------------------------------------
14.0 Misc
--------------------------------------------------------------*/

#secondary {
	padding: 1em 0 2em;
}

/* Search */

.search-form {
  clear: both;
	position: relative;
	margin-bottom: 3em;
}

.search-form .search-submit {
	bottom: 3px;
	padding: 0.5em 1em;
	position: absolute;
	right: 3px;
	top: 3px;
}

.search-form .search-submit .icon {
	height: 24px;
	top: -2px;
	width: 24px;
}

/*--------------------------------------------------------------
16.0 Media
--------------------------------------------------------------*/

img,
video {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

img.alignleft,
img.alignright {
	float: none;
	margin: 0;
}

.page-content .wp-smiley,
.entry-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption {
	color: #666;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/* Media Elements */

.mejs-container {
	margin-bottom: 1.5em;
}

/* Audio Player */

.mejs-controls a.mejs-horizontal-volume-slider,
.mejs-controls a.mejs-horizontal-volume-slider:focus,
.mejs-controls a.mejs-horizontal-volume-slider:hover {
	background: transparent;
	border: 0;
}

/* Playlist Color Overrides: Light */

.site-content .wp-playlist-light {
	border-color: #eee;
	color: #222;
}

.site-content .wp-playlist-light .wp-playlist-current-item .wp-playlist-item-album {
	color: #333;
}

.site-content .wp-playlist-light .wp-playlist-current-item .wp-playlist-item-artist {
	color: #767676;
}

.site-content .wp-playlist-light .wp-playlist-item {
	border-bottom: 1px dotted #eee;
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.site-content .wp-playlist-light .wp-playlist-item:hover,
.site-content .wp-playlist-light .wp-playlist-item:focus {
	border-bottom-color: rgba(0, 0, 0, 0);
	background-color: #767676;
	color: #fff;
}

.site-content .wp-playlist-light a.wp-playlist-caption:hover,
.site-content .wp-playlist-light .wp-playlist-item:hover a,
.site-content .wp-playlist-light .wp-playlist-item:focus a {
	color: #fff;
}

/* Playlist Color Overrides: Dark */

.site-content .wp-playlist-dark {
	background: #222;
	border-color: #333;
}

.site-content .wp-playlist-dark .mejs-container .mejs-controls {
	background-color: #333;
}

.site-content .wp-playlist-dark .wp-playlist-caption {
	color: #fff;
}

.site-content .wp-playlist-dark .wp-playlist-current-item .wp-playlist-item-album {
	color: #eee;
}

.site-content .wp-playlist-dark .wp-playlist-current-item .wp-playlist-item-artist {
	color: #aaa;
}

.site-content .wp-playlist-dark .wp-playlist-playing {
	background-color: #333;
}

.site-content .wp-playlist-dark .wp-playlist-item {
	border-bottom: 1px dotted #555;
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.site-content .wp-playlist-dark .wp-playlist-item:hover,
.site-content .wp-playlist-dark .wp-playlist-item:focus {
	border-bottom-color: rgba(0, 0, 0, 0);
	background-color: #aaa;
	color: #222;
}

.site-content .wp-playlist-dark a.wp-playlist-caption:hover,
.site-content .wp-playlist-dark .wp-playlist-item:hover a,
.site-content .wp-playlist-dark .wp-playlist-item:focus a {
	color: #222;
}

/* Playlist Style Overrides */

.site-content .wp-playlist {
	padding: 0.625em 0.625em 0.3125em;
}

.site-content .wp-playlist-current-item .wp-playlist-item-title {
	font-weight: 700;
}

.site-content .wp-playlist-current-item .wp-playlist-item-album {
	font-style: normal;
}

.site-content .wp-playlist-current-item .wp-playlist-item-artist {
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 800;
	letter-spacing: 0.1818em;
	text-transform: uppercase;
}

.site-content .wp-playlist-item {
	padding: 0 0.3125em;
	cursor: pointer;
}

.site-content .wp-playlist-item:last-of-type {
	border-bottom: none;
}

.site-content .wp-playlist-item a {
	padding: 0.3125em 0;
	border-bottom: none;
}

.site-content .wp-playlist-item a,
.site-content .wp-playlist-item a:focus,
.site-content .wp-playlist-item a:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
}

.site-content .wp-playlist-item-length {
	top: 5px;
}

/* SVG Icons base styles */

.icon {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	position: relative; /* Align more nicely with capital letters */
	top: -0.0625em;
	vertical-align: middle;
	width: 1em;
}

/*--------------------------------------------------------------
18.0 SVGs Fallbacks
--------------------------------------------------------------*/

.svg-fallback {
	display: none;
}

.no-svg .svg-fallback {
	display: inline-block;
}

.no-svg .dropdown-toggle {
	padding: 0.5em 0 0;
	right: 0;
	text-align: center;
	width: 2em;
}

.no-svg .dropdown-toggle .svg-fallback.icon-angle-down {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1;
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	-ms-transform: rotate(180deg); /* IE 9 */
	transform: rotate(180deg);
}

.no-svg .dropdown-toggle.toggled-on .svg-fallback.icon-angle-down {
	-webkit-transform: rotate(0); /* Chrome, Safari, Opera */
	-ms-transform: rotate(0); /* IE 9 */
	transform: rotate(0);
}

.no-svg .dropdown-toggle .svg-fallback.icon-angle-down:before {
	content: "\005E";
}

/* Social Menu fallbacks */

.no-svg .social-navigation a {
	background: transparent;
	color: #222;
	height: auto;
	width: auto;
}

/* Show screen reader text in some cases */

.no-svg .next.page-numbers .screen-reader-text,
.no-svg .prev.page-numbers .screen-reader-text,
.no-svg .social-navigation li a .screen-reader-text,
.no-svg .search-submit .screen-reader-text {
	clip: auto;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	height: auto;
	position: relative !important; /* overrides previous !important styles */
	width: auto;
}

/*--------------------------------------------------------------
19.0 Media Queries
--------------------------------------------------------------*/

/* Adjust positioning of edit shortcuts, override style in customize-preview.css */
@media screen and (min-width: 20em) {

	body.customize-partial-edit-shortcuts-shown .site-header .site-title {
		padding-left: 0;
	}
}

@media screen and (min-width: 30em) {

	/* Typography */
	h1 {
		font-size: 30px;
		font-size: 1.875rem;
	}

	h2,
	.home.blog .entry-title,
	.page .panel-content .recent-posts .entry-title {
		font-size: 26px;
		font-size: 1.625rem;
	}

	h3 {
		font-size: 22px;
		font-size: 1.375rem;
	}

	h4 {
		font-size: 18px;
		font-size: 1.125rem;
	}

	h5 {
		font-size: 13px;
		font-size: 0.8125rem;
	}

	h6 {
		font-size: 16px;
		font-size: 1rem;
	}

	.entry-content blockquote.alignleft,
	.entry-content blockquote.alignright {
		font-size: 14px;
		font-size: 0.875rem;
	}

	/* Fix image alignment */
	img.alignleft {
		float: left;
		margin-right: 1.5em;
	}

	img.alignright {
		float: right;
		margin-left: 1.5em;
	}

	/* Front Page */

	.panel-content .wrap {
		padding-bottom: 2em;
		padding-top: 3.5em;
	}

	.page-one-column .panel-content .wrap {
		max-width: 740px;
	}

	.panel-content .entry-header {
		margin-bottom: 4.5em;
	}

	.panel-content .recent-posts .entry-header {
		margin-bottom: 0;
	}

	/* Blog Index, Archive, Search */

	.taxonomy-description {
		font-size: 14px;
		font-size: 0.875rem;
	}

	.page-numbers.current {
		font-size: 16px;
		font-size: 1rem;
	}
}

@media screen and (min-width: 48em) {

	/* Typography */

	body,
	button,
	input,
	select,
	textarea {
		font-size: 16px;
		font-size: 1rem;
		line-height: 1.5;
	}

	.entry-content blockquote.alignleft,
	.entry-content blockquote.alignright {
		font-size: 13px;
		font-size: 0.8125rem;
	}

	/* Layout */

	.wrap {
		max-width: 1000px;
		padding-left: 3em;
		padding-right: 3em;
	}

	.has-sidebar:not(.error404) #primary {
		float: left;
		width: 58%;
	}

	.has-sidebar #secondary {
		float: right;
		padding-top: 0;
		width: 36%;
	}

	.error404 #primary {
		float: none;
	}

	/* Scroll down arrow */

	.site-header .menu-scroll-down {
    color: #C61621;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 7px 7px 0 0;
		display: inline-block;
		padding: 0.8em 1em;
		position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
	}

  .site-header .menu-scroll-down:hover,
  .site-header .menu-scroll-down:focus {
    border-color: #c61621;
  }

	.menu-scroll-down .icon {
		-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
		-ms-transform: rotate(90deg); /* IE 9 */
		transform: rotate(90deg);
	}

	.menu-scroll-down:focus {
		outline: thin dotted;
	}

	.menu-scroll-down .icon {
		height: 18px;
		width: 18px;
	}

  .menu-scroll-down {
    background: #fff;
    border: 1px solid #C61621;
    border-bottom: none;
    border-radius: 7px 7px 0 0;
    color: #c61621;
		display: inline-block;
		padding: 0.8em 1em;
		position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }

  .menu-scroll-down:hover,
  .menu-scroll-down:focus {
    background: #c61621;
    color: #fff;
  }

  #ike-unplugged .menu-scroll-down,
  #values .menu-scroll-down {
    border-color: #fff;
  }

  #ike-unplugged .menu-scroll-down:hover,
  #ike-unplugged .menu-scroll-down:focus,
  #values .menu-scroll-down:hover,
  #values .menu-scroll-down:focus {
    border-color: #c61621;
  }

	/* Front Page */

	.panel-content .wrap {
		padding-bottom: 4.5em;
		padding-top: 6em;
	}

	.panel-image {
		height: 100vh;
		max-height: 1200px;
	}

	/* With panel images 100% of the screen height, we're going to fix the background image where supported to create a parallax-like effect. */
	.background-fixed .panel-image {
		background-attachment: fixed;
	}

	.page-two-column .panel-content .entry-header {
		float: left;
		width: 36%;
	}

	.page-two-column .panel-content .entry-content {
		float: right;
		width: 58%;
	}

	/* Front Page - Recent Posts */

	.page-two-column .panel-content .recent-posts {
		clear: right;
		float: right;
		width: 58%;
	}

	.panel-content .recent-posts article {
		margin-bottom: 4em;
	}

	.panel-content .recent-posts .entry-header,
	.page-two-column #primary .panel-content .recent-posts .entry-header,
	.panel-content .recent-posts .entry-content,
	.page-two-column #primary .panel-content .recent-posts .entry-content {
		float: none;
		width: 100%;
	}

	.panel-content .recent-posts .entry-header {
		margin-bottom: 1.5em;
	}

	.page .panel-content .recent-posts .entry-title {
		font-size: 26px;
		font-size: 1.625rem;
	}

	/* Posts */

	.site-content {
		padding: 5.5em 0 0;
	}

	.single .entry-title,
	.page .entry-title {
		font-size: 36px;
		font-size: 2.25rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
	}

	.post-navigation {
		clear: both;
	}

	.post-navigation .nav-previous {
		float: left;
		width: 50%;
	}

	.post-navigation .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}

	.nav-next,
	.post-navigation .nav-next {
		margin-top: 0;
	}

	/* Blog, archive, search */

	.sticky .icon-thumb-tack {
		height: 23px;
		left: -2.5em;
		top: 1.5em;
		width: 32px;
	}

	body:not(.has-sidebar):not(.page-one-column) .page-header,
	body.has-sidebar.error404 #primary .page-header,
	body.page-two-column:not(.archive) #primary .entry-header,
	body.page-two-column.archive:not(.has-sidebar) #primary .page-header {
		float: left;
		width: 36%;
	}

	.blog:not(.has-sidebar) #primary article,
	.archive:not(.page-one-column):not(.has-sidebar) #primary article,
	.search:not(.has-sidebar) #primary article,
	.error404:not(.has-sidebar) #primary .page-content,
	.error404.has-sidebar #primary .page-content,
	body.page-two-column:not(.archive) #primary .entry-content {
		float: right;
		width: 58%;
	}

	.blog .site-main > article,
	.archive .site-main > article,
	.search .site-main > article {
		padding-bottom: 4em;
	}

	.navigation.pagination {
		clear: both;
		float: right;
		width: 58%;
	}

	.has-sidebar .navigation.pagination,
	.archive.page-one-column:not(.has-sidebar) .navigation.pagination {
		float: none;
		width: 100%;
	}

	.entry-footer {
		display: table;
		width: 100%;
	}

	.entry-footer .cat-tags-links {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}

	.entry-footer .edit-link {
		display: table-cell;
		text-align: right;
		vertical-align: middle;
	}

	.entry-footer .edit-link a.post-edit-link {
		margin-top: 0;
		margin-left: 1em;
	}

	/* Entry content */

	/* without sidebar */

	:not(.has-sidebar) .entry-content blockquote.alignleft {
		margin-left: -17.5%;
		width: 48%;
	}

	:not(.has-sidebar) .entry-content blockquote.alignright {
		margin-right: -17.5%;
		width: 48%;
	}

	/* with sidebar */

	.has-sidebar .entry-content blockquote.alignleft {
		margin-left: 0;
		width: 34%;
	}

	.has-sidebar .entry-content blockquote.alignright {
		margin-right: 0;
		width: 34%;
	}

	.has-sidebar #primary .entry-content blockquote.alignright.below-entry-meta {
		margin-right: -72.5%;
		width: 62%;
	}

	/* blog and archive */

	.blog:not(.has-sidebar) .entry-content blockquote.alignleft,
	.twentyseventeen-front-page.page-two-column .entry-content blockquote.alignleft,
	.archive:not(.has-sidebar) .entry-content blockquote.alignleft,
	.page-two-column .entry-content blockquote.alignleft {
		margin-left: -72.5%;
		width: 62%;
	}

	.blog:not(.has-sidebar) .entry-content blockquote.alignright,
	.twentyseventeen-front-page.page-two-column .entry-content blockquote.alignright,
	.archive:not(.has-sidebar) .entry-content blockquote.alignright,
	.page-two-column .entry-content blockquote.alignright {
		margin-right: 0;
		width: 36%;
	}

	/* Post formats */

	.format-quote blockquote .icon {
		left: -1.5em;
	}

	/* Pages */
	.page:not(.home) #content {
		padding-bottom: 3.25em;
	}

	/* 404 page */

	.error404 .page-content {
		padding-bottom: 9em;
	}

	/* Posts pagination */

	.nav-links .nav-title {
		position: relative;
	}

	.nav-title-icon-wrapper {
		position: absolute;
		text-align: center;
		width: 2em;
	}

	.nav-links .nav-previous .nav-title .nav-title-icon-wrapper {
		left: -2em;
	}

	.nav-links .nav-next .nav-title .nav-title-icon-wrapper {
		right: -2em;
	}

	/* Secondary */

	#secondary {
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 1.6;
	}
}

@media screen and ( min-width: 67em ) {
	/* Navigation */

	.navigation-top {
    background: #C61621;
		font-size: 14px;
		font-size: 0.875rem;
		position: absolute;
    left: 0;
    top: 0;
    right: 0;
		z-index: 5;
    width: 100%;
	}

	.navigation-top .wrap {
		max-width: 1000px;
		padding: 1.14em 2em;
	}

  #masthead .wrap {
    position: static;
  }

  .main-navigation .nav-langswitch {
    position: absolute;
    padding: 1.14em 2em;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .main-navigation .nav-langswitch a {
  	border-radius: 7px;
  	padding: 0.61em 1.25em;
  	transition: background 200ms ease-in-out, color 200ms ease-in-out;
  }

	.site-navigation-fixed.navigation-top {
		position: fixed;
		z-index: 7;
	}

	.site-navigation-fixed.navigation-top .wrap {
    padding: 0.75em 2em;
	}

	.admin-bar .site-navigation-fixed.navigation-top {
		top: 32px;
	}

  .site-navigation-fixed .main-navigation .nav-langswitch {
    display: none;
  }

  .site-navigation-fixed .main-navigation .menu > li:nth-child(3) {
    display: inline-block;
    vertical-align: middle;
  }

  .site-navigation-fixed .main-navigation .menu > li:nth-child(3) a {
    background: url('./assets/images/ike-logo-bg.png') no-repeat center center #C61621;
    display: block;
    font-size: 0;
    width: 50px;
    height: 50px;
  }

	/* Main Navigation */

	.js .menu-toggle,
	.js .dropdown-toggle {
		display: none;
	}

  .menu-menu-principal-container {
    display: block;
  }

  .js .main-navigation.toggled-on,
	.main-navigation {
    display: block;
    margin: 0;
    position: static;
    transform: none;
		width: auto;
	}

  .js .main-navigation .menu {
    display: block;
    text-align: center;
    width: 100%;
  }

	.js .main-navigation ul,
	.js .main-navigation ul ul,
	.js .main-navigation > div > ul {
		display: block;
	}

	.main-navigation ul {
		background: transparent;
		padding: 0;
	}

	.main-navigation > div > ul {
		border: 0;
		margin-bottom: 0;
		padding: 0;
	}

	.main-navigation li {
		border: 0;
		display: inline-block;
	}

	.main-navigation li li {
		display: block;
	}

	.main-navigation a {
		padding: 1em 1.25em;
	}

  .main-navigation .menu > li {
    margin-right: 1em;
  }

  .main-navigation .menu > li > a {
    border-radius: 7px;
    padding: 0.61em 1.25em;
    transition: background 200ms ease-in-out, color 200ms ease-in-out;
  }

  .navigation-top .current-menu-item > a,
  .navigation-top .current_page_item > a,
  .main-navigation .menu > li > a:hover,
  .main-navigation .menu > li > a:focus {
    background: #fff;
    color: #c61621;
  }

	.main-navigation ul ul {
		left: -999em;
		padding: 1em 0 0;
		position: absolute;
		top: 100%;
		z-index: 99999;
    min-width: 200px;
    border-bottom: 1px solid #efefef;
	}

	.main-navigation ul ul a {
		background: #fff;
    box-sizing: border-box;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    color: #C61621;
    display: block;
    font-size: 1.3571em;
    font-weight: 300;
    line-height: 1;
		padding: 0.6em 1.15em;
    transition: none;
	}

	.main-navigation li li a:hover,
	.main-navigation li li a:focus,
	.main-navigation li li.focus a {
		background: #C61621;
    color: #fff;
	}

  .js .main-navigation li:hover .sub-menu {
    display: block;
    left: 0;
    right: auto;
  }

	.main-navigation .menu-item-has-children > a > .icon,
	.main-navigation .page_item_has_children > a > .icon {
		display: inline;
		left: 5px;
		position: relative;
		top: -1px;
	}

	/* Layout */
   .single-jobs .site-content .wrap {
     max-width: 1650px;
     margin-bottom: 4rem;
     overflow: hidden;
   }

   .single-jobs #primary {
     box-sizing: border-box;
     float: right;
     padding-left: 600px;
     width: 100%;
   }

   .single-jobs #secondary {
     float: left;
     width: 500px;
     margin-right: -500px;
   }

	/* Sticky posts */

	.sticky .icon-thumb-tack {
		font-size: 32px;
		font-size: 2rem;
		height: 22px;
		left: -1.25em;
		top: 0.75em;
		width: 32px;
	}

	/* Pagination */

	.page-numbers {
		display: inline-block;
	}

	.page-numbers.current {
		font-size: 15px;
		font-size: 0.9375rem;
	}

	.page-numbers.current .screen-reader-text {
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute !important;
		width: 1px;
	}
}

@media screen and ( min-width: 79em ) {

	.has-sidebar .entry-content blockquote.alignleft {
		margin-left: -20%;
	}

	.blog:not(.has-sidebar) .entry-content blockquote.alignright,
	.archive:not(.has-sidebar) .entry-content blockquote.alignright,
	.page-two-column .entry-content blockquote.alignright,
	.twentyseventeen-front-page .entry-content blockquote.alignright {
		margin-right: -20%;
	}
}

@media screen and ( max-width: 48.875em ) and ( min-width: 48em ) {

	.admin-bar .site-navigation-fixed.navigation-top,
	.admin-bar .site-navigation-hidden.navigation-top {
		top: 46px;
	}
}

/*--------------------------------------------------------------
20.0 Print
--------------------------------------------------------------*/

@media print {

	/* Hide elements */

	form,
	button,
	input,
	select,
	textarea,
	.navigation-top,
	.social-navigation,
	#secondary,
	.header-image,
	.panel-image-prop,
	.icon-thumb-tack,
	.page-links,
	.edit-link,
	.post-navigation,
	.pagination.navigation,
	.pingback .edit-link,
	.site-info {
		display: none !important;
	}

	.entry-footer,
	.single-featured-image-header {
		border: 0;
	}

	/* Font sizes */

	body {
		font-size: 12pt;
	}

	h1 {
		font-size: 24pt;
	}

	h2 {
		font-size: 22pt;
	}

	h3 {
		font-size: 17pt;
	}

	h4 {
		font-size: 12pt;
	}

	h5 {
		font-size: 11pt;
	}

	h6 {
		font-size: 12pt;
	}

	.page .panel-content .entry-title,
	.page-title,
	body.page:not(.twentyseventeen-front-page) .entry-title {
		font-size: 10pt;
	}

	/* Layout */

	.wrap {
		padding-left: 5% !important;
		padding-right: 5% !important;
		max-width: none;
	}

	/* Site Branding */

	.site-header {
		background: transparent;
		padding: 0;
	}

	.site-branding {
		margin-top: 0;
		margin-bottom: 1.75em !important; /* override styles added by JavaScript */
	}

	.site-title {
		font-size: 25pt;
	}

	.site-description {
		font-size: 12pt;
		opacity: 1;
	}

	/* Posts */

	.single-featured-image-header {
		background: transparent;
	}

	.entry-meta {
		font-size: 9pt;
	}

	/* Colors */

	body,
	.site {
		background: none !important; /* Brute force since user agents all print differently. */
	}

	body,
	a,
	.site-title a {
		color: #222 !important; /* Make sure color schemes don't affect to print */
	}

	h2,
	h5,
	blockquote,
	.site-description,
	.twentyseventeen-front-page.has-header-image .site-description,
	.twentyseventeen-front-page.has-header-video .site-description,
	.entry-meta,
	.entry-meta a {
		color: #777 !important; /* Make sure color schemes don't affect to print */
	}

	.entry-content blockquote.alignleft,
	.entry-content blockquote.alignright {
		font-size: 11pt;
		width: 34%;
	}

	.site-footer {
		padding: 0;
	}
}
